:root {
  --primary: #007832;
  --primaryLight: #e8fff1;
  --secondary: #ef7828;
  --secondaryLight: #fff1e7;
  --teretory: #f5a44a;
  --accent: #737373;
  --accentDark: #313131;
  --light: #fff;
  --dark: #000;
  --bg-light: #f1f1f1;
  --border: #dfdfdf;
  --borderLight: #f2f2f2;
  --font-base: "CenturyGothicRegular";
  --font-heading: "CenturyGothicRegular";
  --font-secondary: "Poppins";
}
* {
  box-sizing: border-box;
}
body {
  font-family: var(--font-base);
  color: var(--accent);
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  position: relative;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  max-width: 100%;
}
/*global style*/
.container {
  max-width: 1280px;
  position: relative;
}
.container-max-md {
  max-width: 53rem;
  margin: 0 auto;
}
.flow > * + * {
  margin-top: var(--flow-spacer, 0.5em);
}
h1 {
  font-size: clamp(2rem, 6vw, 3.75rem);
  font-weight: 700;
  font-family: var(--font-base);
}
h2 {
  font-size: clamp(1.75rem, 6vw, 3rem);
  font-weight: 700;
  font-family: var(--font-heading);
}
h3 {
  font-size: clamp(1.5rem, 4vw, 2rem);
  font-weight: 700;
  font-family: var(--font-heading);
}
h4 {
  font-size: clamp(1.25rem, 3vw, 1.375rem);
  font-family: var(--font-heading);
  font-weight: 700;
}
h5 {
  font-size: clamp(1.25rem, 4vw, 1.5rem);
  font-family: var(--font-heading);
  font-weight: 700;
  line-height: 1.4;
}
p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
}
a:hover {
  color: var(--primary);
}
.btn-primary {
  background: var(--primary);
  color: var(--light);
  font-size: 1.125rem;
  line-height: 1;
  padding: 12px 30px;
  font-family: var(--font-heading);
  border-radius: 3rem;
  border: 1px solid var(--primary);
  font-weight: 600;
  height: 60px;
  letter-spacing: 2px;
}
.btn-primary:hover {
  background: var(--secondary);
  border: 1px dashed var(--secondary);
}
.btn-primary i {
  padding-left: 0.75rem;
}
.btn-border {
  background: transparent;
  color: var(--accentDark);
  font-size: 1rem;
  line-height: 1;
  padding: 12px 40px;
  font-family: var(--font-heading);
  border-radius: 3rem;
  border: 1px dashed var(--border);
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  min-width: 245px;
}
.btn-border:hover {
  background: var(--secondary);
  border: 1px dashed var(--secondary);
  color: var(--light);
}
.btn-sm {
  font-size: 0.875rem;
  padding: 12px 16px;
  height: 40px;
  min-width: 165px;
}
.text-accentdark {
  color: var(--accentLight) !important;
}
.text-secondary {
  color: var(--secondary) !important;
}
.text-primary {
  color: var(--primary) !important;
}
.text-light {
  color: var(--light);
}
.bg-primary {
  background-color: var(--primary) !important;
}
.bg-primary-light {
  background-color: var(--primaryLight);
}
.bg-secondary {
  background-color: var(--secondary) !important;
}
.bg-secondary-light {
  background-color: var(--secondaryLight);
}
.wordbreak {
  word-break: break-all;
}
.ch60 {
  max-width: 60ch;
}
.ch64 {
  max-width: 64ch;
}

/*.... section header
...........................*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  background-color: var(--light);
  color: var(--accent);
}
#header {
  padding: 0.5rem 0;
  transition: ease 0.5s;
}
.header_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.75rem;
}
.header_wrap .logo {
  max-width: 150px;
  width: 100%;
  padding: 0 0.5rem;
  transition: ease 0.5s;
}
.nav-menu {
  flex-basis: 100%;
}
.nav-menu .menu {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.nav-menu-left .menu {
  justify-content: flex-start;
}
.nav-menu-right .menu {
  justify-content: flex-end;
}

.nav-menu .menu .menu-item {
  display: block;
  margin: 0;
  width: 100%;
  font-family: var(--font-secondary);
}

.nav-menu .menu .menu-item:hover a {
  color: var(--primary);
}
.nav-menu .menu .menu-item a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--accent);
  padding: 0.75rem 0.938rem;
  border-bottom: 1px var(--border) solid;
  transition: all 0.3s ease;
  text-decoration: none;
  font-weight: 500;
}

.nav-menu .menu .menu-item a i {
  padding-left: 0.5em;
  color: var(--primary);
}
.nav-menu .menu .menu-item .sub-menu {
  width: 100%;
  position: relative;
  opacity: 1;
  visibility: visible;
  border: none;
  background-color: transparent;
  box-shadow: none;
  transform: translateY(0px);
  padding: 0;
  margin: 0;
  left: auto;
  top: auto;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}

.nav-menu .menu .menu-item .sub-menu .menu-item:hover a {
  color: var(--primary);
}

.nav-menu .menu .menu-item .sub-menu .menu-item a {
  padding: 0.75rem 2rem;
  color: var(--accent);
  font-size: 0.938rem;
}

.header_wrap .open-nav-menu {
  width: 2.5rem;
  height: 2.5rem;
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.header_wrap .open-nav-menu span {
  display: block;
  height: 0.188rem;
  width: 1.5rem;
  background-color: var(--primary);
  position: relative;
}
.header_wrap .open-nav-menu span:before,
.header_wrap .open-nav-menu span:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary);
  box-sizing: border-box;
}
.header_wrap .open-nav-menu span:before {
  top: -0.438rem;
}
.header_wrap .open-nav-menu span:after {
  top: 0.438rem;
}
.header_wrap .close-nav-menu {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.5rem;
  background-color: #f8f9fa;
  color: var(--accent);
  margin: 0 0 1rem 1rem;
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
}
.header_wrap .menu-overlay {
  position: fixed;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
}

.sticky {
  position: relative;
  top: 0;
  width: 100%;
  background-color: var(--light);
  color: var(--accent);
  transition: ease 0.5s;
  z-index: 9;
  padding: 0.5rem 0 !important;
}
.sticky .logo {
  max-width: 120px !important;
  transition: ease 0.5s;
}
.search_box {
  padding: 0.75rem;
}
.search_box .form-control {
  font-size: 0.75rem;
  color: #212529;
  background-color: var(--bg-light);
  border: 0px;
  border-radius: 3rem;
  height: 40px;
  background-image: url(../images/search.png);
  background-size: 1.25rem;
  background-repeat: no-repeat;
  background-position: 93%;
}
.country_badge {
  background: var(--secondaryLight);
  padding: 5px 6px;
  border-radius: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 90%;
  margin: 0 auto;
}
.country_badge img {
  max-width: 2.5rem;
}
.country_badge span {
  font-size: 0.875rem;
  font-weight: 600;
  margin-left: 0.5rem;
}

.section_hero {
  width: 100%;
  height: 100vh;
  background: url(../images/hero-bg1.jpg) no-repeat center top;
  background-size: cover;
}
.hero_wrapper {
  --flow-spacer: 1em;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.hero_wrapper a {
  color: var(--light);
  text-decoration: none;
}
.link a {
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.circle {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  display: inline-block;
  margin-left: 1rem;
  text-align: center;
  background-image: url(../images/arrow-right-white.png);
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center;
}
.circle.bg-light {
  background-image: url(../images/arrow-right.png);
}

/*.... section hero-sm
...........................*/
.section_hero-sm {
  width: 100%;
  height: 70vh;
  background: url(../images/hero-about.jpg) no-repeat center top;
  background-size: cover;
}
.hero_agencies {
  background: url(../images/hero-agencies.jpg) no-repeat center top;
  background-size: cover;
}
.hero_wrapper-sm {
  --flow-spacer: 1em;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 180px;
  padding-bottom: 30px;
}
.hero_wrapper-sm .breadcum {
  display: flex;
}
.hero_wrapper-sm .breadcum li {
  font-size: 1rem;
}
.hero_wrapper-sm .breadcum li a {
  color: var(--light);
  text-decoration: none;
}
.hero_wrapper-sm .breadcum li + li {
  padding-left: 0.5rem;
}
.hero_wrapper-sm .breadcum li.active {
  font-weight: 700;
}

/*.... section tour
...........................*/
.section_tour {
  padding: 3rem 0 6rem;
}
.tour_slider {
  margin-top: 2rem;
}
.img_box {
  height: 370px;
  margin: 0 15px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 10px 10px 3px rgb(0 0 0 / 20%);
  -webkit-box-shadow: 0px 10px 10px 3px rgb(0 0 0 / 20%);
  -moz-box-shadow: 0px 10px 10px 3px rgb(0 0 0 / 20%);
}

.img_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all ease-in-out 1s;
}
.tour_content {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 0.75rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  background: #ffffff;
  background: -moz-linear-gradient(
    top,
    rgb(255 255 255 / 1%) 1%,
    rgb(0 0 0 / 70%) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgb(255 255 255 / 1%) 1%,
    rgb(0 0 0 / 50%) 100%
  );
  background: linear-gradient(
    to bottom,
    rgb(255 255 255 / 1%) 1%,
    rgb(0 0 0 / 50%) 100%
  );
  transition: all ease-in-out 1s;
}
.tour_content p {
  color: var(--light);
  font-size: 1.375rem;
  font-weight: 600;
  letter-spacing: 1px;
}
.tour_content p span {
  font-size: 0.875rem;
  display: block;
  font-weight: 500;
}
.img_box:hover img {
  transform: rotate(-10deg) scale(1.5);
  transition: all ease-in-out 1s;
}
.img_box:hover .tour_content {
  background: linear-gradient(
    to bottom,
    rgb(255 255 255 / 1%) 1%,
    rgb(0 0 0 / 100%) 100%
  );
  transition: all ease-in-out 1s;
}
.slick-prev,
.slick-next {
  font-size: 0.875rem;
  line-height: 0;
  position: absolute;
  top: inherit;
  bottom: -3rem;
  display: block;
  width: 35px;
  height: 35px;
  padding: 0;
  -webkit-transform: translate(0, 0%);
  -ms-transform: translate(0, 0%);
  transform: translate(0, 0%);
  cursor: pointer;
  color: var(--border);
  border: 1px solid var(--border);
  border-radius: 50%;
}
.slick-prev:before,
.slick-next:before {
  font-size: 0px;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: var(--secondary);
}
.slick-next {
  right: 30px;
}
.slick-prev {
  right: 80px;
  left: inherit;
}

/*.... section package
...........................*/
.section_package {
  margin-bottom: 2.5rem;
  position: relative;
}
.package_wrap {
  margin-top: 2rem;
}
.package_box {
  margin-bottom: 2rem;
}
.package_img {
  position: relative;
}
.package_img img {
  width: 100%;
}
.pkg-icon {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  background: var(--light);
  font-size: 1.125rem;
  color: var(--border);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  display: none;
}
.pkg-icon:hover .far.fa-heart {
  display: none;
}
.fas.fa-heart {
  display: none;
  color: var(--secondary);
}
.pkg-icon:hover .fas.fa-heart {
  display: block;
}
.package_content {
  padding: 0.75rem 0;
  text-align: center;
}
.package_content p a {
  color: var(--accentDark);
  font-size: clamp(1rem, 2vw, 1.25rem);
  font-weight: 700;
  text-decoration: none;
}
.package_content p span {
  font-size: clamp(0.875rem, 2vw, 1rem);
  display: block;
  font-weight: 500;
  color: var(--accent);
}
.package_content p a:hover {
  color: var(--secondary);
}

/*.... section cta
...........................*/
.section_cta {
  padding: 4.5rem 0;
  background: url(../images/bg1.jpg) no-repeat;
  background-size: cover;
  background-position: 70%;
}
.cta_content h2 {
  margin-bottom: 2rem;
}
.cta_content p {
  margin-bottom: 4.5rem;
  color: var(--accentDark);
}

/*.... section testi
...........................*/
.section_testi {
  padding: 4.5rem 0;
}
.testi_wrap {
  margin-top: 2rem;
}
.testi_box {
  padding: 0 10px;
}
.testi_content {
  padding: 2rem 2rem 4.5rem;
  border: 2px solid var(--border);
}
.testi_content p {
  font-size: 1rem;
  font-style: italic;
}
.testi_author {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 2rem;
  margin-top: -2rem;
}
.testi_author span {
  padding: 2rem 0 0 1rem;
  font-weight: bold;
  color: var(--dark);
}

/*.... section enquire
...........................*/
.section_enquire {
  padding: 4.5rem 0;
  background: url(../images/bg2.jpg) no-repeat;
  background-size: cover;
  background-position: left center;
  margin-top: 11rem;
}
.enquire_wrap {
  display: flex;
  justify-content: flex-end;
}
.enquire_box {
  flex-basis: 320px;
  margin-top: -15rem;
  padding: 2rem 1rem;
  background: var(--light);
  -webkit-box-shadow: 1px 1px 20px 3px rgb(161 161 161 / 10%);
  box-shadow: 1px 1px 20px 3px rgb(161 161 161 / 10%);
}
.enquire_box h2 {
  margin-bottom: 2rem;
}
.enquire_box form > * + * {
  margin-top: 10px;
}
.enquire_box .form-control {
  min-height: 44px;
  background: var(--light);
  border: 1px solid var(--border);
  /* -webkit-box-shadow: inset 5px -5px 15px 0px rgb(143 143 143 / 10%);
  box-shadow: inset 5px -5px 15px 0px rgb(143 143 143 / 10%); */
  font-weight: 500;
  font-size: 1rem;
}
.enquire_box .btn-primary {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.25rem;
}
.enquire_box .btn-primary img {
  max-width: 20px;
  margin-left: 1rem;
}

/*.... section footer
...........................*/
.section_footer {
  padding-top: 5.25rem;
  background: url(../images/footer-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center bottom;
}
.footer_box {
  margin-bottom: 3.5rem;
}
.social {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1.5rem;
}
.social li {
  width: 35px;
  height: 35px;
  background: var(--light);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social li + li {
  margin-left: 0.75rem;
}
.social li a {
  color: var(--accentDark);
}
.social li:hover a {
  color: var(--primary);
}
.footer_box h4 {
  font-weight: 700;
  margin-bottom: 1.75rem;
  color: var(--primary);
  font-family: var(--font-secondary);
}
.footer_box p {
  font-size: 1rem;
  color: var(--accentDark);
}
.list li {
  font-size: 1rem;
  padding-bottom: 0.75rem;
  color: var(--accentDark);
}
.list li a {
  color: var(--accentDark);
  text-decoration: none;
}
.list li a:hover {
  color: var(--primary);
}
.copyright {
  padding: 2.25rem 0;
  border-top: 1px solid var(--border);
  flex-direction: column;
  gap: 1rem;
}
.copyright p {
  font-size: 1rem;
}

/*.... section map
...........................*/
.section_map {
  padding: 5.5rem 0 2rem;
}

/*.... section history
...........................*/
.section_history {
  padding: 5rem 0 5.5rem;
}
.tab_wrap {
  max-width: 1000px;
  margin: 2.5rem auto 0;
  display: block;
}
.ah-tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
  border-bottom: 0;
}
.ah-tab::before {
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0) 0%,
    rgb(232 255 241) 70%,
    rgb(232 255 241) 99%
  );
}
.ah-tab::after {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgb(232 255 241) 40%,
    rgb(232 255 241) 99%
  );
}

.ah-tab-item {
  position: relative;
  font-size: 0.875rem;
  font-weight: 700;
  color: #63d591;
  flex-basis: 100%;
  text-align: center;
}
.ah-tab-item span {
  position: relative;
  top: -24px;
}
.ah-tab > .ah-tab-item {
  border-bottom: 0px;
  padding: 24px 0;
}
.ah-tab-item::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 60%;
  width: 80%;
  height: 1px;
  background-color: #63d591;
}
.ah-tab-item::before {
  content: "";
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #63d591;
  outline: 1px solid #63d591;
  outline-offset: 2px;
}
.ah-tab > .ah-tab-item[data-ah-tab-active="true"] {
  border: 0px;
  color: var(--secondary);
}
.ah-tab > .ah-tab-item[data-ah-tab-active="true"] span {
  top: 24px;
}
.ah-tab > .ah-tab-item[data-ah-tab-active="true"]::before {
  background-color: var(--secondary);
  outline: 6px solid var(--secondary);
  outline-color: #ffe5d4;
}
.ah-tab > .ah-tab-item:hover {
  border-bottom: 0;
}
.ah-tab-content-wrapper {
  margin: 2rem 0 0;
}
.ah-tab-overflow-list .ah-tab-item span {
  top: 0;
}
.ah-tab-overflow-list .ah-tab-item::before,
.ah-tab-overflow-list .ah-tab-item::after {
  content: none;
}
.ah-tab-overflow-list > .ah-tab-item[data-ah-tab-active="true"] {
  border-left-color: var(--secondary);
}
.ah-tab-item[data-ah-tab-active="true"] {
  color: var(--secondary);
}
.ah-tab-content {
  padding: 0;
  border: 1px solid var(--light);
  background: var(--light);
  -webkit-box-shadow: 1px 1px 20px 3px rgb(161 161 161 / 30%);
  box-shadow: 1px 1px 20px 3px rgb(161 161 161 / 30%);
}
.ah-tab > .ah-tab-item {
  margin-right: 0;
}
.tab_box {
  padding: 3rem 1.25rem;
}
.year {
  position: absolute;
  right: 0;
  top: 0;
  background-color: var(--secondary);
  font-size: 1.5rem;
  color: var(--light);
  font-weight: bold;
  padding: 10px 32px;
}

/*.... section rating
...........................*/
.section_rating {
  padding: 5rem 0 3rem;
}
.rating_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem;
  background: var(--light);
  -webkit-box-shadow: 1px 1px 20px 3px rgb(161 161 161 / 15%);
  box-shadow: 1px 1px 20px 3px rgb(161 161 161 / 15%);
  margin-bottom: 2rem;
}
.rating_box .globe {
  padding: 0.5rem;
  border-radius: 4px;
}
.rating_box .title {
  color: var(--primary);
  font-size: clamp(1.75rem, 5vw, 2.75rem);
  font-weight: bold;
}
.rating_box .content {
  flex-basis: 100%;
  border-top: 1px solid var(--border);
  color: var(--accentDark);
  padding: 0.75rem 0 0;
  margin-top: 0.75rem;
}

/*.... section leader
...........................*/
.leader_wrap {
  margin-top: 2.5rem;
}
.leader_box {
  padding: 0 1.5rem 5rem;
}
.leader_content {
  margin-top: 2rem;
}
.leader_content .author {
  font-size: 1.375rem;
  color: var(--accentDark);
  font-weight: 700;
}
.leader_content .author span {
  color: var(--secondary);
  display: block;
  font-size: 1rem;
}
.leader_content a {
  color: var(--primary);
}

/*.... section achievement
...........................*/
.section_achievement {
  padding: 6rem 0 5rem;
}

/*.... section team
...........................*/
.section_team {
  padding: 0 0 4.5rem;
}
.portfolio_title {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--border);
  margin-bottom: 1.25rem;
}
.portfolio_title h4 {
  font-weight: 700;
  padding-bottom: 0.75rem;
}
.myBtnContainer {
  padding-bottom: 0.75rem;
}
.myBtnContainer .btn {
  border-radius: 4px;
  min-width: auto;
}
.gallery_box {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.gallery_box > .column {
  flex-basis: 100%;
  padding: 0.75rem;
}
.column {
  display: none;
}
.show {
  display: block;
}
.portfolio .content {
  padding: 6px;
  border: 1px solid var(--border);
}
.portfolio .content img {
  width: 100%;
}
/*.... section choose
...........................*/
.section_choose {
  padding: 5rem 0;
}
.section_choose h2 {
  font-size: clamp(1.75rem, 6vw, 2.75rem);
}
.section_choose .column {
  margin-top: 2rem;
}
/*.... section service
...........................*/
.section_service {
  padding: 5rem 0 3.25rem;
}
.section_service h2 {
  font-size: clamp(1.75rem, 6vw, 2.75rem);
}
.service_wrap {
  margin-top: 2.5rem;
}
.service_box {
  padding: 1.5rem;
  -webkit-box-shadow: 1px 1px 20px 3px rgb(161 161 161 / 10%);
  box-shadow: 1px 1px 20px 3px rgb(161 161 161 / 10%);
  text-align: center;
  margin-bottom: 1.75rem;
}
.box-icon {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

/*.... section partners
...........................*/
.section_partners {
  padding: 0 0 4rem;
}
.section_partners h5 {
  font-size: clamp(1.25rem, 4vw, 1.625rem);
}
.partners_wrap {
  padding: 0 2rem;
}
.partners_wrap .slick-prev,
.partners_wrap .slick-next {
  top: 35%;
  bottom: inherit;
}
.partners_wrap .slick-next {
  right: -30px;
}
.partners_wrap .slick-prev {
  right: inherit;
  left: -30px;
}
.partners_box img {
  margin: 0 auto;
}

/*.... section content
...........................*/
.content_area {
  --flow-spacer: 1em;
  position: relative;
}

/*....preloader section
...........................*/
#preloader {
  position: fixed;
  z-index: 1800;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
}
#preloader #loader {
  position: relative;
  width: 2.5em;
  height: 2.5em;
  transform: rotate(165deg);
}
#preloader #loader {
  position: absolute;
  top: calc(50% - 1.25em);
  left: calc(50% - 1.25em);
}
#preloader #loader:before,
#preloader #loader:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0.5em;
  height: 0.5em;
  border-radius: 0.25em;
  transform: translate(-50%, -50%);
}
#preloader #loader:before {
  animation: before 2s infinite;
}
#preloader #loader:after {
  animation: after 2s infinite;
}

@keyframes before {
  0% {
    width: 0.5em;
    box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75),
      -1em 0.5em rgba(111, 202, 220, 0.75);
  }
  35% {
    width: 2.5em;
    box-shadow: 0 -0.5em rgba(225, 20, 98, 0.75),
      0 0.5em rgba(111, 202, 220, 0.75);
  }
  70% {
    width: 0.5em;
    box-shadow: -1em -0.5em rgba(225, 20, 98, 0.75),
      1em 0.5em rgba(111, 202, 220, 0.75);
  }
  100% {
    box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75),
      -1em 0.5em rgba(111, 202, 220, 0.75);
  }
}
@keyframes after {
  0% {
    height: 0.5em;
    box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75),
      -0.5em -1em rgba(233, 169, 32, 0.75);
  }
  35% {
    height: 2.5em;
    box-shadow: 0.5em 0 rgba(61, 184, 143, 0.75),
      -0.5em 0 rgba(233, 169, 32, 0.75);
  }
  70% {
    height: 0.5em;
    box-shadow: 0.5em -1em rgba(61, 184, 143, 0.75),
      -0.5em 1em rgba(233, 169, 32, 0.75);
  }
  100% {
    box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75),
      -0.5em -1em rgba(233, 169, 32, 0.75);
  }
}

/*.....scroll to top
......................*/
.scrollup {
  background-color: #f8f9fa;
  color: #212529;
  padding: 0;
  width: 3rem;
  height: 3rem;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.7;
  cursor: pointer;
  position: fixed;
  bottom: 5rem;
  right: 2rem;
  padding: 0.25rem;
  display: none;
}
.scrollup i {
  padding: 0;
}
